<h1>Editing To Do Entry</h1>

<%= form_with model: [@list, @to_do_entry] do |form| %>
    <% if @to_do_entry.errors %>
        <% @to_do_entry.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    <% end %>
    
    <%= form.label "Current Title", class: "form-label" %>
    <%= form.text_field :title, class: "form-control"%>
    <%= form.label "Completion Status:",  class: "form-label"%>
    <%= form.check_box :completed%> <br>
    <%= form.label "Due Date:",  class: "form-label"%>
    <%= form.date_field :due_date, class: "form-control"%>
    <%= form.submit class: "btn btn-primary"%>
<% end %>
