<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'to_do_entries', media: 'all' %>

<h1>Your To-Dos</h1>

<div class="container">
  <div class="row">
    <% @to_do_entries.each_with_index do |to_do_entry, index| %>
        <div class="card">
          <div class="card-body">
            <%= to_do_entry.title %>
          </div>
        </div>
    <% end %>
  </div>

  <div class="row justify-content-end">
    <button type="button" id="present-pop-up" class="btn btn-primary">Create New To-Do</button>
  </div>

</div>
  
<div id="create-to-do-pop-up">
  <%= form_with model: @to_do_entry do |form| %>
      <%= form.label "Your New To-Do Title", class: "form-label" %>
      <%= form.text_field :title, class: "form-control"%>
      <%= form.submit class: "btn btn-primary"%>
      <button type="button" id="dismiss-create-popup"class="btn btn-danger">Cancel</button>
  <% end %>
</div>
<%= javascript_pack_tag 'create_to_do'%>