<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'to_do_entries', media: 'all' %>

<h1>Your To-Dos</h1>

<div class="container">
  <div class="row">
    <% @to_do_entries.each_with_index do |to_do_entry, index| %>
        <div class="card">
          <div class="card-body">
            <span id="title-<%= to_do_entry.id%>"><%= to_do_entry.title %></span>
            <div id="options-container">
              <%= link_to "edit", edit_to_do_entry_path(to_do_entry), :id => "edit", :class => "btn btn-lg btn"%>    
              <%= link_to "Destroy", to_do_entry_path(to_do_entry), method: :delete, :data => {:confirm => "Are you sure you want to delete this To-Do?"}, :id => "delete", :class => "btn btn-lg btn"%>
              <!-- <button id=<%= to_do_entry.id%>>update-completion</button> -->
              <%= check_box_tag("update-completion", to_do_entry.id, to_do_entry.completed, :class => "update-#{to_do_entry.id}", allow_label_click: true) %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <div class="row justify-content-end">
    <button type="button" id="present-pop-up" class="btn btn-primary">Create New To-Do</button>
  </div>

</div>
  
<div id="create-to-do-pop-up">
  <%= form_with model: @to_do_entry do |form| %>
      <%= form.label "Your New To-Do Title", class: "form-label" %>
      <%= form.text_field :title, class: "form-control"%>
      <%= form.label "Completion Status:",  class: "form-label"%>
      <%= form.check_box :completed, :id => "set-completed-status"%> <br>
      <%= form.submit class: "btn btn-primary"%>
      <button type="button" id="dismiss-create-popup"class="btn btn-danger">Cancel</button>
  <% end %>
</div>
<%= javascript_pack_tag 'create_to_do'%>